<p>
	<label for="settings_slack_url">Slack URL</label>
	<input type="text" id="settings_slack_url" size=80 value="<%= settings['slack_url'] %>" name="settings[slack_url]" />
</p>

<p>
	<label for="settings_channel">Slack Channel</label>
	<input type="text" id="settings_channel" value="<%= settings['channel'] %>" name="settings[channel]" />
</p>

<p>
	The channel can be changed on a per-project basis by creating a
	<a href="/custom_fields/new?type=ProjectCustomField">project custom field</a> named "Slack Channel" (without quotes).
</p>

<p>
	<label for="settings_username">Slack Icon</label>
	<input type="text" id="settings_icon" value="<%= settings['icon'] %>" name="settings[icon]" />
</p>

<p>
	<label for="settings_username">Slack Username</label>
	<input type="text" id="settings_username" value="<%= settings['username'] %>" name="settings[username]" />
</p>

<p>
	<label for="settings_display_author">Display Author?</label>
	<select id="settings_display_author" value="<%= settings['display_author'] %>" name="settings[display_author]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_author'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_display_watchers">Display Watchers?</label>
	<select id="settings_display_watchers" value="<%= settings['display_watchers'] %>" name="settings[display_watchers]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_watchers'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_display_priority">Display Priority?</label>
	<select id="settings_display_priority" value="<%= settings['display_priority'] %>" name="settings[display_priority]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_priority'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_display_assigned_to">Display Assignee?</label>
	<select id="settings_display_assigned_to" value="<%= settings['display_assigned_to'] %>" name="settings[display_assigned_to]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_assigned_to'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_display_status_in_title">Display status in title?</label>
	<select id="settings_display_status_in_title" value="<%= settings['display_status_in_title'] %>" name="settings[display_status_in_title]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_status_in_title'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>
